<div class="comment">
    <div class="post-info">
        <span class="post-name"><%= name || "Anão" %></span>
        <span class="post-time"><%= date %></span>
        <span class="post-number">No.<%= id %></span>
        [ <span><a href="/reply">Reply</a></span> ]
    </div>
    <% if (file ) { %>
        <div class="post-file">
            File:
            <a href="/<%= file.path %>"><%= fileName %></a> <%= fileInfo %>
        </div>
    <div class="post-image">
        <img src="/<%= thumbnailPath %>" alt="">
    </div>
    <% } %>
    <div class="post-comment"><%= comment %></div>
</div>